.cards12{
    display: grid;
    grid-template: repeat(auto-fit,
    minmax(400px,1fr));
    padding: 20px;
    grid-gap:40px;
    }
    .card12{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    }
    .container1{
        position: relative;
       
    }
    img1{
        width: 100%;
        display: block;
    }
    .cards13{
        display: grid;
        grid-template: repeat(auto-fit,
        minmax(400px,1fr));
        padding: 20px;
        grid-gap:40px;
        }
        .card13{
        border-radius: 20px;
        }
.leter1{
    font-family: 'Besley', serif;
}